<header class="app-header">

    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <p class="navbar-btn">
                    <a  ng-click="$event.preventDefault();
                                main.openAddDialog()" class="btn   btn-default"  href="#/">Add New Folder</a>
                </p>
            </li>
            
            <li>
                <p class="navbar-btn">
                    <a   class="btn   btn-default"  href="#/pinterest-boards">Add Board Images To Folders</a>
                </p>
            </li>
            
            <li>
                <p class="navbar-btn">
                    <a  class="btn   btn-default"   href="#/">Save Changes</a>
                </p>
            </li>
           
        </ul>
    </nav>
</header>


<div class="container"> 
    <div class="row" ng-if="main.results.length != 0">
        <h3>Image Folders</h3>

        <div id="folderContainer" class="row col-sm-12 folderContainer">

            <span class="col-sm-4"  ng-repeat="item in main.results track by item.id" >

                <folder folder="item" />

            </span>

        </div>
    </div>

    <div class="row" ng-if="main.results.length == 0">

        <div class="well well-lg">You have not defined any morgue folders. Click on the Add button</div>

    </div>


</div>
