<header class="app-header">



    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Add Pinterest Boards to Folders</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li> <a href="#/">Return To Folder List</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> </li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>




</header>

<h3>Add the urls of Pinterest Boards to Your Folders</h3>



<form name="loadBoards.boardUrlEntryForm" novalidate>
    <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Folder(s) for Urls:</label>
            <select multiple="true" style="width:100%;height:250px" size="15" name="folderSelections" ng-model="loadBoards.newEntry.folderSelections" id="folderSelections" class="form-control" required>
                <option ng-repeat="folder in loadBoards.folders track by folder.id" value="{{folder.id}}">{{folder.name}}</option>
            </select>
            <div class="input-error" ng-messages="loadBoards.boardUrlEntryForm.folderSelections.$error">
                <div class="message" ng-message="required">This field is required</div>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label">Add Url One On Each Line</label><br>

            <textarea url-checker="loadBoards.invalidUrl" style="width:100%;height:250px" ng-model="loadBoards.newEntry.urlEntries"  name="urlEntries" id="urlEntries" required>
                
            </textarea>

            <div class="input-error" ng-messages="loadBoards.boardUrlEntryForm.urlEntries.$error">
                <div class="message" ng-message="required">This field is required</div>
                <div class="message" ng-message=" urlChecker">Invalid url {{loadBoards.invalidUrl.url}}</div>
               
            </div>

        </div>
    </div>
    </div>
    <div class="row">
        <button ng-disabled="loadBoards.boardUrlEntryForm.$invalid"  ng-click="loadBoards.saveUrls()" class="btn btn-primary">Submit</button>
    </div>
</form>