<header class="app-header">

    <nav class="navbar">
        <ul class="nav nav-tabs">
            <li>

                <div class="navbar-header">

                    <span class="navbar-brand">Edit Folder Contents For {{editFolder.folder.name}}</span>
                </div>

            </li>



            <li class="nav pull-right">

                <a href="#/">Return To Folder List</a> 

            </li>

        </ul>
    </nav>
</header>
    


<form name="editFolder.generalEntryForm" novalidate>
    
    <div class="row">
        <button ng-disabled="editFolder.generalEntryForm.$invalid"  ng-click="editFolder.saveChanges()" class="btn btn-primary">Submit</button>
    </div>
    
    
    <div style="margin-top:20px" class="row">
         <div class="col-sm-12">
        <div class="form-group">
            <label class="control-label" for="name">Board Name</label><br>
            <div class="col-sm-12">
                <input type="text" class="form-control"  id="name" name="name" ng-model="editFolder.newEntry.name" required>
            </div>
        </div>
         </div>
   
        
        
    </div>
    
    
    
    <div style="margin-top:20px" class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Image Urls</label><br>

                <textarea url-checker="editFolder.invalidUrl" style="width:100%;height:250px" ng-model="editFolder.newEntry.urls"  name="urlEntries" id="urlEntries" required>
                
                </textarea>

                <div class="input-error" ng-messages="editFolder.generalEntryForm.urlEntries.$error">
                    <div class="message" ng-message="required">This field is required</div>
                    <div class="message" ng-message=" urlChecker">Invalid url {{editFolder.invalidUrl.url}}</div>

                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">Pinterest Boards</label><br>

                <textarea url-checker="editFolder.invalidBoard.url" style="width:100%;height:250px" ng-model="editFolder.newEntry.pinterestBoards"  name="pinterestBoards" id="pinterestBoards" required>
                
                </textarea>

                <div class="input-error" ng-messages="editFolder.generalEntryForm.urlEntries.$error">
                    <div class="message" ng-message="required">This field is required</div>
                    <div class="message" ng-message=" urlChecker">Invalid url {{editFolder.invalidBoard.url}}</div>

                </div>

            </div>
        </div>
    </div>
    
</form>



